.clicks-number-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	gap: 0.5rem;

    padding: 8px;
    border-radius: 8px;
    background-color: lightyellow;
}

.clicks-number-container button {
	padding: 4px;
	border-radius: 4px;
	background-color: beige;
}

.clicks-number-container button:active {
    background-color: lightgray;
}
